version: '3.1'

services:

  postgres:
    image: postgres
    restart: always
    environment:
      - POSTGRES_PASSWORD=qwerty88
      - POSTGRES_USER=rust_user
      - POSTGRES_DB=rust_db

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  rust_test_project:
    build: ./rust/test_project